{% extends 'app/_base.html' %}

{% block title %}Rezerwacja{% endblock %}

{% block content %}

    <h1>Kup bilet</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Zarezerwuj</button>
    </form>
    
    {% if messages %}
    <ul class="messages alert alert-success m-5" style="list-style: none;">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    
{% endblock %}

