{% extends 'app/_base.html' %}

{% block title %}Strona główna{% endblock %}

{% block content %}

    <h1>Repertuar kina:</h1>
    {% if seances %}

    {# @TODO: Wyszukiwarka seansów po dniach i gatunkach #}

        <ul>
        {% for seance in seances %}

            <li>
                <h2>{{ seance.movie.title }}</h2>
                <p>Termin: {{ seance.date }}</p>
                <a href="{% url 'seance_detail' pk=seance.pk %}">Szczegóły</a>
            </li>

        {% endfor %}
        </ul>

    {% else %}
        <p>Na chwilę obecną nie ma żadnych seansów</p>
    {% endif %}

{% endblock %}
