<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
    <h1>Repertuar kina:</h1>
    {% if seances %}

    {# @TODO: Wyszukiwarka seansów po dniach i gatunkach #}

        <ul>
        {% for seance in seances %}

            <li>
                <h2>{{ seance.movie.title }}</h2>
                <p>Termin: {{ seance.date }}</p>
                <a href="#">Szczegóły</a>
            </li>

        {% endfor %}
        </ul>

    {% else %}
        <p>Na chwilę obecną nie ma żadnych seansów</p>
    {% endif %}
</body>
</html>