{% extends 'app/_base.html' %}

{% block title %}Szczegóły seansu{% endblock %}

{% block content %}

    <h1>Seans filmu: {{ object.movie.title }}</h1>
    <p>Termin: {{ object.date }}</p>
    <p>Sala numer {{ object.room.id }}</p>
    <p>Od lat {{ object.movie.age_restriction }}</p>
    <p>Opis filmu: {{ object.movie.description }}</p>
    <a class="btn btn-primary mr-2" href="{% url 'movie_detail' pk=object.movie.pk %}">Szczegóły filmu</a>
    <a class="btn btn-primary" href="{% url 'buy_ticket' pk=object.pk %}">Kup bilet</a>

{% endblock %}
